// app global css

@import 'quasar.variables'

.header, .footer
  background: linear-gradient(145deg,$theme_color1 11%,$theme_color2 45%)

h1
  font-size: 2rem
  line-height: 4rem
  font-weight: 500
  margin: 0 0 1.5rem
