// @import 'vendors/vuetify.css'
// @import 'vendors/material-design-icons.css.css'
// @import 'vendors/dayspan-vuetify.css'

//@import '~vuetify/dist/vuetify.min.css'
@import '~material-design-icons-iconfont/dist/material-design-icons.css'
@import '~dayspan-vuetify/dist/lib/dayspan-vuetify.min.css'
